<%- include("partials/header") %>

<div class="page-header" filter-color="orange">
    <div class="page-header-image"
        style="background-image:url(https://images.unsplash.com/photo-1590336922467-e3c4ab4c8fd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
    </div>
    <div class="content register">
        <div class="container">
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-login card-plain">
                    <form action="/register" method="POST">
                        <div class="card-header text-center">
                            <div class="logo-container">
                                <img src="https://vignette.wikia.nocookie.net/dont-starve-game/images/9/9d/Badge-2-6.png/revision/latest?cb=20190518203210"
                                    alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="/login" method="POST">
                                <div class="input-group form-group-no-border input-lg">
                                    <input type="text" class="form-control" name="username" placeholder="Kullanıcı Adı" required>
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <input type="password" class="form-control" name="password" placeholder="Şifre" required>
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <input type="hidden" class="form-control" name="avatar" placeholder="">
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <textarea class="form-control" name="description" id="" cols="30" rows="12"
                                        placeholder="Biraz kendinizden bahsedin." required></textarea>
                                </div>
                                <!-- <div class="input-group form-group-no-border input-lg">
                                    <input type="text" class="form-control" name="adminCode"
                                        placeholder="Admin Şifresi">
                                </div> -->
                                <div class="avatar-holder">
                                    <p>Lütfen aşağıdaki avatarlardan birisini seç.</p>
                                    <div class="select-avatar">
                                        <a >
                                            <img src="/images/Chester_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Friendly_Bunnyman_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Gingerbread_Cookie_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Gingerbread_Pig_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Gnome_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Gnomette_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Happy_Pigman_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Hound_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Mandrake_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Rabbit_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Snowbird_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                    <div class="select-avatar">
                                        <a>
                                            <img src="/images/Spider_Profile_Icon.png" alt="">
                                        </a>

                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-primary btn-round btn-lg btn-block">Kayıt ol</button>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>


<%- include("partials/footer") %>s